In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
# Preprocess the Data
# Drop the columns that are not required

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
## Encode the categorical variables to numerical variables

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [5]:
# One Hot Encoding the Geography column


onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')                   ## handle_unknown='ignore' will ignore the unknown categories.
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
## Combine one-hot encoded columns with the original data

data = pd.concat([data.drop('Geography', axis =1), geo_encoded_df], axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
## Split the data into features and target

X = data.drop('EstimatedSalary', axis = 1)   ## Droping the target column from the features
Y = data['EstimatedSalary']                  ## Target column

In [9]:
## Split the data into training and testing data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [11]:
## Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)    # Fit and transform the training data 
X_test =  scaler.transform(X_test)         # Transform the testing data

In [12]:
## Save the encoder and scalers for later use

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
## Create the model
model = Sequential([
    Dense(64, activation = 'relu', input_shape=(X_train.shape[1],)),   #input_shape is the number of features where X_train.shape[1] gives the no of features
    Dense(32, activation = 'relu'),
    Dense(1)

])

WARNING:tensorflow:From b:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [16]:
## Compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

WARNING:tensorflow:From b:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

#Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")  ## Create a log directory with the current timestamp
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)                ## Create a tensorboard callback

In [18]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
## Train the model
history = model.fit(
    X_train, Y_train,
    validation_data=(X_test, Y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From b:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From b:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100353.0781 - mae: 100353.0781 - val_loss: 98434.2266 - val_mae: 98434.2266
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99367.2031 - mae: 99367.2031 - val_loss: 96497.7812 - val_mae: 96497.7812
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96036.4688 - mae: 96036.4688 - val_loss: 91686.1016 - val_mae: 91686.1016
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 89665.5312 - mae: 89665.5312 - val_loss: 83933.0156 - val_mae: 83933.0156
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 80715.2109 - mae: 80715.2109 - val_loss: 74382.1328 - val_mae: 74382.1328
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 70825.3047 - mae: 70825.3047 - val_loss: 65160.6484 - val_mae: 65160.6484
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 62003.2578 - mae: 62003.2578 - val_loss: 57882.6523 - val_mae: 57882.6523
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 55747.6836 - mae: 55747.6836 - val_loss: 53420.7461 - val_mae: 53420.7461
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 52308.8164 - mae: 52308.8164 - val_loss: 51489.9688 - val_mae: 51489.9688
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 50840.6055 - mae: 50840.6055 - val_loss: 50890.5703 - val_mae: 50890.5703
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50338.3750 - mae: 50338.3750 - val_loss: 50721.0664 - val_mae: 50721.0664
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50159.3164 - mae: 50159.3164 - val_loss: 50657.0586 - val_mae: 50657.0586
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50081.4844 - mae: 50081.4844 - val_loss: 50621.3281 - val_mae: 50621.3281
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50025.0625 - mae: 50025.0625 - val_loss: 50589.0039 - val_mae: 50589.0039
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 49982.5195 - mae: 49982.5195 - val_loss: 50569.5977 - val_mae: 50569.5977
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 49940.0195 - mae: 49940.0195 - val_loss: 50540.4688 - val_mae: 50540.4688
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 49908.3828 - mae: 49908.3828 - val_loss: 50508.9297 - val_mae: 50508.9297
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49878.0391 - mae: 49878.0391 - val_loss: 50492.8828 - val_mae: 50492.8828
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49854.0742 - mae: 49854.0742 - val_loss: 50473.8945 - val_mae: 50473.8945
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49829.7578 - mae: 49829.7578 - val_loss: 50463.7617 - val_mae: 50463.7617
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49802.6953 - mae: 49802.6953 - val_loss: 50442.8672 - val_mae: 50442.8672
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49781.6133 - mae: 49781.6133 - val_loss: 50417.0469 - val_mae: 50417.0469
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49762.2305 - mae: 49762.2305 - val_loss: 50404.6211 - val_mae: 50404.6211
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49743.8516 - mae: 49743.8516 - val_loss: 50403.7305 - val_mae: 50403.7305
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49724.4766 - mae: 49724.4766 - val_loss: 50385.6875 - val_mae: 50385.6875
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49709.8945 - mae: 49709.8945 - val_loss: 50377.6797 - val_mae: 50377.6797
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49696.6094 - mae: 49696.6094 - val_loss: 50371.6094 - val_mae: 50371.6094
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49680.9219 - mae: 49680.9219 - val_loss: 50366.3984 - val_mae: 50366.3984
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.8672 - mae: 49663.8672 - val_loss: 50365.4844 - val_mae: 50365.4844
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49649.6055 - mae: 49649.6055 - val_loss: 50354.0234 - val_mae: 50354.0234
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49637.5078 - mae: 49637.5078 - val_loss: 50336.9727 - val_mae: 50336.9727
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49629.3008 - mae: 49629.3008 - val_loss: 50337.2734 - val_mae: 50337.2734
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49613.8672 - mae: 49613.8672 - val_loss: 50329.3281 - val_mae: 50329.3281
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49606.1445 - mae: 49606.1445 - val_loss: 50315.8594 - val_mae: 50315.8594
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.1055 - mae: 49593.1055 - val_loss: 50315.5625 - val_mae: 50315.5625
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49582.9727 - mae: 49582.9727 - val_loss: 50314.5586 - val_mae: 50314.5586
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49574.2539 - mae: 49574.2539 - val_loss: 50319.4805 - val_mae: 50319.4805
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49563.5391 - mae: 49563.5391 - val_loss: 50307.2148 - val_mae: 50307.2148
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49559.9922 - mae: 49559.9922 - val_loss: 50311.1523 - val_mae: 50311.1523
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49547.8203 - mae: 49547.8203 - val_loss: 50309.5312 - val_mae: 50309.5312
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49541.2422 - mae: 49541.2422 - val_loss: 50314.8516 - val_mae: 50314.8516
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49533.6680 - mae: 49533.6680 - val_loss: 50312.6836 - val_mae: 50312.6836
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49527.2578 - mae: 49527.2578 - val_loss: 50305.3750 - val_mae: 50305.3750
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49517.7266 - mae: 49517.7266 - val_loss: 50310.0664 - val_mae: 50310.0664
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49510.8398 - mae: 49510.8398 - val_loss: 50315.6133 - val_mae: 50315.6133
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49504.4453 - mae: 49504.4453 - val_loss: 50308.4883 - val_mae: 50308.4883
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49498.3711 - mae: 49498.3711 - val_loss: 50303.4492 - val_mae: 50303.4492
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49489.4844 - mae: 49489.4844 - val_loss: 50306.5234 - val_mae: 50306.5234
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49485.3867 - mae: 49485.3867 - val_loss: 50316.8398 - val_mae: 50316.8398
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49481.9297 - mae: 49481.9297 - val_loss: 50322.0664 - val_mae: 50322.0664
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49474.4375 - mae: 49474.4375 - val_loss: 50324.7734 - val_mae: 50324.7734
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49470.8945 - mae: 49470.8945 - val_loss: 50336.1875 - val_mae: 50336.1875
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49459.6680 - mae: 49459.6680 - val_loss: 50321.0898 - val_mae: 50321.0898
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49457.2617 - mae: 49457.2617 - val_loss: 50325.2188 - val_mae: 50325.2188
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49448.6797 - mae: 49448.6797 - val_loss: 50333.7578 - val_mae: 50333.7578
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49446.5703 - mae: 49446.5703 - val_loss: 50324.7617 - val_mae: 50324.7617
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49440.6562 - mae: 49440.6562 - val_loss: 50336.1953 - val_mae: 50336.1953

In [20]:
## Evaluate the model
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 27092), started 0:01:02 ago. (Use '!kill 27092' to kill it.)

In [25]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, Y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50303.4492 - mae: 50303.4492
Test MAE:50303.44921875

In [26]:
## Save the Model
model.save('regression_model.h5')

b:\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(